.hobbies {
  display: flex;
}

.heading {
  text-align: left;
  background-color: black;
  flex-shrink: 0;
}

.heading h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 0% 3rem;
  margin: 0%;
}

.hobbieContainer {
  background-color: gray;
  display: flex;
  flex-grow: 1;
  padding-left: 10%;
}

.hobbie {
  font-size: 2rem;
  border: 1rem solid white;
  margin: auto 7%;
  padding: 3rem 5rem;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hobbie1 {
  background-image: url("https://github.com/suryakantpawar/portfolio/blob/main/src/assets/travel.jpg?raw=true");
}

.hobbie2 {
  border-color: black;
  color: white;
  background-image: url("https://github.com/suryakantpawar/portfolio/blob/main/src/assets/gaming.jpg?raw=true");
}

.hobbie3 {
  background-image: url("https://github.com/suryakantpawar/portfolio/blob/main/src/assets/drawing.jpg?raw=true");
}
