.contact {
  background-color: black;
  padding-left: 15%;
  padding-bottom: 2%;
  color: white;
}

.contactInfo {
  margin: 0% 2%;
  padding: 0%;
}

.social {
  display: flex;
}

.social img {
  margin: 1% 0.5%;
  padding-left: 1%;
  height: 30px;
  width: 30px;
}
